body {
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  text-align: center;
}
.calc {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 28%;
  left: 51%;
  transform: translate(-50%, -50%);
  align-items: center;
}
 #entrada{
  width: 120px;
  height: fit-content;
 }