body {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.conteiner {
    background-color: #fcfcfc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000000aa;
}

input {
    background-color: #fff;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: right;
    line-height: 50px;
    padding: 0 10px;
    font-size: 24px;
    color: #333;
    overflow: hidden;

}

.linha {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #9ab6c1;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #3c606e;
}