body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

#conteiner {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#titulo {
    margin-bottom: 20px;
}

#entrada {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.result {
    display: inline-block;
    background-color: #dcefff;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
